:root {
  --image-width: 95vw;
  --image-height: calc(0.625*var(--image-width));
  --box-width: calc(0.22*var(--image-width));
  --box-height: calc(0.35*var(--image-height));
}

body {
  background-color: #35495e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  max-width: var(--image-width);
  height: auto;
}

/* Change hardcoded positioning numbers to dynamically calculated according to VW */
.card1 {
  position: absolute;
  left: calc(0.165*var(--image-width));
  top: calc(0.0875*var(--image-height));
  width: var(--box-width);
  height: var(--box-height);
  z-index: 2;
  background-image: url("images/haikyuu 10th.png");
  background-size: cover;
}

.card2 {
  position: absolute;
  left: calc(0.4525*var(--image-width));
  top: calc(0.225*var(--image-height));
  width: var(--box-width);
  height: var(--box-height);
  z-index: 4;
  background-image: url("images/notebooks.png");
  background-size: cover;
}

.card3 {
  position: absolute;
  left: calc(0.6325*var(--image-width));
  top: calc(0.1075*var(--image-height));
  width: var(--box-width);
  height: var(--box-height);
  z-index: 2;
  rotate: 15deg;
  background-image: url("images/sennaar.png");
  background-size: cover;
}

.card4 {
  position: absolute;
  left: calc(0.1955*var(--image-width));
  top: calc(0.575*var(--image-height));
  width: var(--box-width);
  height: var(--box-height);
  z-index: 2;
  rotate: -20deg;
  background-image: url("images/phonecase.png");
  background-size: cover;
}

.card5 {
  position: absolute;
  left: calc(0.6525*var(--image-width));
  top: calc(0.615*var(--image-height));
  width: var(--box-width);
  height: var(--box-height);
  z-index: 2;
  background-image: url("images/haikyats.png");
  background-size: cover;
}